img {
  height: 80px;
  margin-bottom: 24px;
}

.logout {
  padding-top: 5em;
}

.home {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}
